*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submit {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: rgb(20, 232, 73);
  border-radius: 5rem;
  transition: 250ms;
}

.submit:hover {
  transform: scale(1.03);
  border: 1px solid black;
  color: #fff;
  background-color: chartreuse;
}

.mb {
  margin-bottom: 1rem;
}
